/._AWS Solutions Architect Associate Certification Training - Course Description.pdf
/._AWS Solutions Architect Associate Certification Training - Hands On.pdf
/._AWS Solutions Architect Associate Certification Training - slides.pdf
/._AWS Solutions Architect Associate Certification Training - Test 01.pdf
/._AWS Solutions Architect Associate Certification Training - Test 02.pdf
/._RM-DetailedPatentInfo_v2.0.pdf
/RM-DetailedPatentInfo_v2.0.pdf